.inputDiv {
  width: 100%;
  margin: 20px 0;
  position: relative;
}

.input {
  width: 100%;
  font-size: 28px;
  font-weight: 300;
  height: 50px;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(221, 221, 221, 1);
  z-index: 1;
  padding: 0 20px 0 60px;
  font-family: 'Rota';
  color: rgba(0, 0, 0, 1);
  margin-bottom: 4px;
  border-radius: 0px;
}

@media (max-width: 1080px) {
  .inputDiv {
    margin: 15px 0;
  }
  .input {
    font-size: 18px;
    padding: 0 10px 0 40px; 
  }
}

.input:focus,
.input:active {
  text-decoration: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.required {
  color: red;
  font-family: var(--lexend-font);
  font-size: 0.8rem;
  padding-left: 4px;
}

.inputDiv > img {
  position: absolute;
  left: 5px;
  top: 11px;
}