.button {
  padding: 12px 16px;
  background: #47a1ff;
  background: linear-gradient(90deg, #007cf0, #00dfd8);
  border-radius: 100px;
  cursor: pointer;
  transition: opacity 0.25s, background 0.25s;
  color: white;
  font-weight: 500;
  &.active {
    background: #1010104d;
  }
  &:hover {
    opacity: 0.8;
  }
}

.loading {
  display: flex;
  align-items: center;
  gap: 8px;
}
